@model IEnumerable<CarWorld.Models.CarModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Car list</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Cars" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<form asp-controller="Cars" asp-action="Index">
    <p>
        <input id="alfa" type="submit" value="Alfa Romeo" name="SearchString" />
        <input id="toyota" type="submit" value="Toyota" name="SearchString" />
        <input id="suzuki" type="submit" value="Suzuki" name="SearchString" />
        <input id="audi" type="submit" value="Audi" name="SearchString" />
        <input id="fiat" type="submit" value="Fiat" name="SearchString" />
        <input id="wolksvagen" type="submit" value="Wolksvagen" name="SearchString" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.ImageName == null)
                    {
                        <img src="@("~/images/placeholder.jpg")" asp-append-version="true" width="250" height="200" />
                    }
                    else
                    {
                        <img src="@("~/images/"+item.ImageName)" asp-append-version="true" width="250" height="200" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
